.container {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
}

.item {
  display: flex;
  gap: 8px;
}
